on: [pull_request]

name: Git Checks

jobs:
  commit-lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3.6.0
        with:
          fetch-depth: 0
      - uses: actions/setup-python@v4
        with:
          python-version: '3.x'
      - run: pip install gitlint
      - run: gitlint --commits $(git merge-base origin/master HEAD)..HEAD
